<nav class="navbar navbar-default navbar-fixed-title hidden-print">
    <div class="container navbar-title app-container">
        <div class="row">
            <div class="col-xs-2 col-md-4 page-title-left">
                <a ng-click="askAnythingCtrl.Back()" class="btn btn-left"><i class="fa fa-chevron-left fa-large" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-4 hidden-xs"><div class="page-title">Ask me anything <i class="fa fa-exclamation" aria-hidden="true"></i></div></div>
            <div class="cols-xs-10 col-md-4 page-title-right">

            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="control-label">Question:</label>
                <div class="input-group">
                    <input type="text" class="form-control input-lg btn-rounded" placeholder="Type a question..." ng-model="askAnythingCtrl.context_question">
                    <span class="input-group-btn">
                    <button ng-click="askAnythingCtrl.SubmitQuestion()" class="btn btn-default btn-lg btn-rounded"><i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp; Submit</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-md-8">
            <div class="row" ng-if="askAnythingCtrl.results">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Answer:</label>
                        <div class="context-container">
                            <b>{{askAnythingCtrl.results.best_span_str}}</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row" ng-if="askAnythingCtrl.results">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Passage Context:</label>
                        <div class="context-container" ng-bind-html="askAnythingCtrl.display_context">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row" ng-if="askAnythingCtrl.results">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label">All passage contexts used to find the answer:</label>
                        <div ng-repeat="row in askAnythingCtrl.current_context_list track by $index">
                            <div class="context-container" ng-bind-html="row">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row" ng-if="askAnythingCtrl.context_qa">
                <uib-tabset>
                    <uib-tab>
                        <uib-tab-heading class="hidden-print">History</uib-tab-heading>
                        <div ng-repeat="row in askAnythingCtrl.context_qa">
                            <div class="context-container">
                                <label class="control-label">Question:</label>
                                <p>{{row.question}}</p>
                                <label class="control-label">Answer:</label>
                                <p>{{row.answer}}</p>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab>
                        <uib-tab-heading class="hidden-print">Context Memory</uib-tab-heading>
                        <div style="padding: 10px; background-color: #ffffff;">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" ng-model="askAnythingCtrl.enable_context_memory">
                                    &nbsp;&nbsp;Enable
                                </label>
                            </div>
                        </div>
                        <div ng-repeat="row in askAnythingCtrl.context_memory track by $index">
                            <div class="context-container" ng-bind-html="row">
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>

    <div class="row">&nbsp;</div>
</div>